﻿@{ 
        ViewBag.Title = "displayData";
    }

 

    @if (ViewBag.Message== "Exact Match")
    {
        //@ViewData["Message"]
        foreach (string supplier in ViewBag.nearest)
        {
        <li>
            @supplier
            
            
    </li>


        }
    }

    else
    {    
        foreach (string sup in ViewBag.nearest)
        {
            <ul>
                <li>
                    @sup
                </li>
            </ul><br />

        }


    }


    


